:root {
    --home-font: "Belanosima", sans-serif;
    --normal-font: "Roboto Condensed", sans-serif;
    --bold-color: #14213d;
    --white-color: #ffffff;
    --p-color: #ffffffaf;
    --active-color: #007eff;
    /* ................ */

    --bg-c-nav: rgb(248, 249, 250);

    --color-primary1: #007bff;
    --color-primary2: #4a4a4a;
    --color-primary3: #ffffff;
    --p-color: #22576a;
    --header-color: #112b35;
}

#sec_four {
    min-height: 75vh;
}

.plan_sec_btn {
    margin: 40px 0;
    padding: 15px 0;
    width: 100%;
    min-height: 20vh;
    background-color: #eff7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.plan_sec_btn h2 {
    color: var(--color-primary1);
    margin-bottom: 10px;
}

#sec_four h3 {
    color: var(--active-color);
}

#pricing_header {
    min-height: 170px;
}

/* ........................ */
.offer_top a {
    color: var(--bold-color);
    font-size: 2rem;
}
.offer_top a span {
    color: blue;
    font-size: 2rem;
}

.offer_top {
    text-align: center;
    max-width: 700px;
}

.sec_offer {
    background-color: #007eff44;
    min-height: 150px;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

/* new btn .............. */

.btn_new {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #e0f5fd;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 0 auto;
}

.btn_new:hover {
    background: #e0f5fd;
}

.btn_new > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

.btn_new:hover svg {
    transform: translateX(5px);
}

button:active {
    transform: scale(0.95);
}

.offer_plan {
    
    text-decoration: line-through;
}

.offer_per {
    margin-right: 10px;
    color: rgba(255, 0, 0, 0.705);
    display: flex;
    align-items: center;
}

.pricing_and_offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
}

.price_big {
    font-size: 1.8rem;
}